*.mp3
*.pyl
*.pyc
*.derp

audio.dist\*
null
testEnv.derp
*.zip
*.wav
permaclients.json
daisyChain.json
benchmark.json
parody.py
test.py
manualMax.json
requirements.txt
stream.py
updateOld.py
pip.list
streams/
benchmark.json
daisyChain.json
settings.xml
audio.build
speakerSets.json
audio.dist
.powershell
.audiocache
excludeInterfaces.json
extraOutputs-comment.json
hosts.json
plugOutputs.json